DirectoryIndex index.php?apiPath=index
RewriteEngine on
RewriteRule ^api/([a-z]*)/(.*)$ index.php?apiPath=$1&data=$2 [NC,L]
RewriteRule ^api/(.*)/?$ index.php?apiPath=$1 [NC,L]
RewriteRule ^api/?$ index.php?apiPath=index [NC,L]
RewriteRule ^help help.html [NC,L]
