DirectoryIndex README.md.html
RewriteEngine on
RewriteRule ^api/(time|tz)/(.*)/?$ index.php?apiPath=$1&data=$2 [NC,L]
RewriteRule ^api/time/?$ index.php?apiPath=time [NC,L]
RewriteRule ^api/?.*?$ index.php?apiPath=index [NC,L]
RewriteRule ^help README.md.html [NC,L]
